<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
</head>

<body>
    <div class="container mt-5">
        <h1>Book Search</h1>
        <form action="/book" method="get">
            <input type="text" name="search" class="form-control" placeholder="Search books by title" required />
            <!-- <input type="hidden" name="hiddenbook" id="hiddenbook" /> -->
            <div class="d-grid gap-2">
                <button type="submit " class="btn btn-outline-primary">
            Search
          </button>
            </div>
</body>

</html>